{
  "swagger": "2.0",
  "info": {
    "title": "Emby Server REST API",
    "description": "Explore the Emby Server API",
    "termsOfService": "https://emby.media/terms",
    "contact": {
      "name": "Emby Developer Forum",
      "url": "https://emby.media/community/index.php?/forum/47-developer-api"
    },
    "version": "4.8.10.0"
  },
  "host": "emby.media",
  "basePath": "/emby",
  "schemes": [
    "http"
  ],
  "paths": {
    "/Artists": {
      "get": {
        "tags": [
          "ArtistsService"
        ],
        "summary": "Gets all artists from a given item, folder, or the entire library",
        "description": "Requires authentication as user",
        "externalDocs": {
          "description": "API Documentation: Items by name",
          "url": "https://dev.emby.media/doc/restapi/Items-by-Name.html"
        },
        "operationId": "getArtists",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "ArtistType",
            "description": "Artist or AlbumArtist",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MaxOfficialRating",
            "description": "Optional filter by maximum official rating (PG, PG-13, TV-MA, etc).",
            "type": "string"
          },
          {
            "in": "query",
            "name": "HasThemeSong",
            "description": "Optional filter by items with theme songs.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasThemeVideo",
            "description": "Optional filter by items with theme videos.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasSubtitles",
            "description": "Optional filter by items with subtitles.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasSpecialFeature",
            "description": "Optional filter by items with special features.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasTrailer",
            "description": "Optional filter by items with trailers.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "AdjacentTo",
            "description": "Optional. Return items that are siblings of a supplied item.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MinIndexNumber",
            "description": "Optional filter by minimum index number.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "MinStartDate",
            "description": "Optional. The minimum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MaxStartDate",
            "description": "Optional. The maximum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MinEndDate",
            "description": "Optional. The minimum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MaxEndDate",
            "description": "Optional. The maximum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MinPlayers",
            "description": "Optional filter by minimum number of game players.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "MaxPlayers",
            "description": "Optional filter by maximum number of game players.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "ParentIndexNumber",
            "description": "Optional filter by parent index number.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "HasParentalRating",
            "description": "Optional filter by items that have or do not have a parental rating",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsHD",
            "description": "Optional filter by items that are HD or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsUnaired",
            "description": "Optional filter by items that are unaired episodes or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "MinCommunityRating",
            "description": "Optional filter by minimum community rating.",
            "type": "number",
            "format": "double"
          },
          {
            "in": "query",
            "name": "MinCriticRating",
            "description": "Optional filter by minimum critic rating.",
            "type": "number",
            "format": "double"
          },
          {
            "in": "query",
            "name": "AiredDuringSeason",
            "description": "Gets all episodes that aired during a season, including specials.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "MinPremiereDate",
            "description": "Optional. The minimum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MinDateLastSaved",
            "description": "Optional. The minimum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MinDateLastSavedForUser",
            "description": "Optional. The minimum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MaxPremiereDate",
            "description": "Optional. The maximum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "HasOverview",
            "description": "Optional filter by items that have an overview or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasImdbId",
            "description": "Optional filter by items that have an imdb id or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasTmdbId",
            "description": "Optional filter by items that have a tmdb id or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasTvdbId",
            "description": "Optional filter by items that have a tvdb id or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ExcludeItemIds",
            "description": "Optional. If specified, results will be filtered by exxcluding item ids. This allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "StartIndex",
            "description": "Optional. The record index to start at. All items with a lower index will be dropped from the results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "Limit",
            "description": "Optional. The maximum number of records to return",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "Recursive",
            "description": "When searching within folders, this determines whether or not the search will be recursive. true/false",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "SearchTerm",
            "description": "Enter a search term to perform a search request",
            "type": "string"
          },
          {
            "in": "query",
            "name": "SortOrder",
            "description": "Sort Order - Ascending,Descending",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ParentId",
            "description": "Specify this to localize the search to a specific item or folder. Omit to use the root",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Fields",
            "description": "Optional. Specify additional fields of information to return in the output. This allows multiple, comma delimeted. Options: Budget, Chapters, DateCreated, Genres, HomePageUrl, IndexOptions, MediaStreams, Overview, ParentId, Path, People, ProviderIds, PrimaryImageAspectRatio, Revenue, SortName, Studios, Taglines",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ExcludeItemTypes",
            "description": "Optional. If specified, results will be filtered based on item type. This allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "IncludeItemTypes",
            "description": "Optional. If specified, results will be filtered based on item type. This allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "AnyProviderIdEquals",
            "description": "Optional. If specified, result will be filtered to contain only items which match at least one of the specified IDs. Each provider ID must be in the form 'prov.id', e.g. 'imdb.tt123456'. This allows multiple, comma delimeted value pairs.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Filters",
            "description": "Optional. Specify additional filters to apply. This allows multiple, comma delimeted. Options: IsFolder, IsNotFolder, IsUnplayed, IsPlayed, IsFavorite, IsResumable, Likes, Dislikes",
            "type": "string"
          },
          {
            "in": "query",
            "name": "IsFavorite",
            "description": "Optional filter by items that are marked as favorite, or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsMovie",
            "description": "Optional filter for movies.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsSeries",
            "description": "Optional filter for series.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsFolder",
            "description": "Optional filter for folders.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsNews",
            "description": "Optional filter for news.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsKids",
            "description": "Optional filter for kids.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsSports",
            "description": "Optional filter for sports.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsNew",
            "description": "Optional filter for IsNew.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsPremiere",
            "description": "Optional filter for IsPremiere.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsNewOrPremiere",
            "description": "Optional filter for IsNewOrPremiere.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsRepeat",
            "description": "Optional filter for IsRepeat.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ProjectToMedia",
            "description": "ProjectToMedia",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "MediaTypes",
            "description": "Optional filter by MediaType. Allows multiple, comma delimited.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ImageTypes",
            "description": "Optional. If specified, results will be filtered based on those containing image types. This allows multiple, comma delimited.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "SortBy",
            "description": "Optional. Specify one or more sort orders, comma delimeted. Options: Album, AlbumArtist, Artist, Budget, CommunityRating, CriticRating, DateCreated, DatePlayed, PlayCount, PremiereDate, ProductionYear, SortName, Random, Revenue, Runtime",
            "type": "string"
          },
          {
            "in": "query",
            "name": "IsPlayed",
            "description": "Optional filter by items that are played, or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "Genres",
            "description": "Optional. If specified, results will be filtered based on genre. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "OfficialRatings",
            "description": "Optional. If specified, results will be filtered based on OfficialRating. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Tags",
            "description": "Optional. If specified, results will be filtered based on tag. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ExcludeTags",
            "description": "Optional. If specified, results will be filtered based on tag. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Years",
            "description": "Optional. If specified, results will be filtered based on production year. This allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "EnableImages",
            "description": "Optional, include image information in output",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "EnableUserData",
            "description": "Optional, include user data",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ImageTypeLimit",
            "description": "Optional, the max number of images to return, per image type",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "EnableImageTypes",
            "description": "Optional. The image types to include in the output.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Person",
            "description": "Optional. If specified, results will be filtered to include only those containing the specified person.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "PersonIds",
            "description": "Optional. If specified, results will be filtered to include only those containing the specified person.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "PersonTypes",
            "description": "Optional. If specified, along with Person, results will be filtered to include only those containing the specified person and PersonType. Allows multiple, comma-delimited",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Studios",
            "description": "Optional. If specified, results will be filtered based on studio. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "StudioIds",
            "description": "Optional. If specified, results will be filtered based on studio. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Artists",
            "description": "Optional. If specified, results will be filtered based on artist. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ArtistIds",
            "description": "Optional. If specified, results will be filtered based on artist. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Albums",
            "description": "Optional. If specified, results will be filtered based on album. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Ids",
            "description": "Optional. If specific items are needed, specify a list of item id's to retrieve. This allows multiple, comma delimited.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "VideoTypes",
            "description": "Optional filter by VideoType (videofile, dvd, bluray, iso). Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Containers",
            "description": "Optional filter by Container. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "AudioCodecs",
            "description": "Optional filter by AudioCodec. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "AudioLayouts",
            "description": "Optional filter by AudioLayout. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "VideoCodecs",
            "description": "Optional filter by VideoCodec. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ExtendedVideoTypes",
            "description": "Optional filter by ExtendedVideoType. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "SubtitleCodecs",
            "description": "Optional filter by SubtitleCodec. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Path",
            "description": "Optional filter by Path.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "UserId",
            "description": "User Id",
            "type": "string",
            "format": "guid"
          },
          {
            "in": "query",
            "name": "MinOfficialRating",
            "description": "Optional filter by minimum official rating (PG, PG-13, TV-MA, etc).",
            "type": "string"
          },
          {
            "in": "query",
            "name": "IsLocked",
            "description": "Optional filter by items that are locked.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsPlaceHolder",
            "description": "Optional filter by items that are placeholders",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasOfficialRating",
            "description": "Optional filter by items that have official ratings",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "GroupItemsIntoCollections",
            "description": "Whether or not to hide items behind their boxsets.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "Is3D",
            "description": "Optional filter by items that are 3D, or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "SeriesStatus",
            "description": "Optional filter by Series Status. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "NameStartsWithOrGreater",
            "description": "Optional filter by items whose name is sorted equally or greater than a given input string.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ArtistStartsWithOrGreater",
            "description": "Optional filter by items whose name is sorted equally or greater than a given input string.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "AlbumArtistStartsWithOrGreater",
            "description": "Optional filter by items whose name is sorted equally or greater than a given input string.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "NameStartsWith",
            "description": "Optional filter by items whose name is sorted equally than a given input string.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "NameLessThan",
            "description": "Optional filter by items whose name is equally or lesser than a given input string.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful. Returning a QueryResult<BaseItemDto> object.",
            "schema": {
              "$ref": "#/definitions/QueryResult_BaseItemDto"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        },
        "security": [
          {
            "apikeyauth": [ ]
          },
          {
            "embyauth": [ ]
          }
        ],
        "x-RequiredAuthentication": "Requires authentication as user"
      },
      "x-summary": "Gets all artists from a given item, folder, or the entire library"
    },
    "/AudioCodecs": {
      "get": {
        "tags": [
          "TagService"
        ],
        "summary": "Gets items based on a query.",
        "description": "Requires authentication as user",
        "operationId": "getAudiocodecs",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "ArtistType",
            "description": "Artist or AlbumArtist",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MaxOfficialRating",
            "description": "Optional filter by maximum official rating (PG, PG-13, TV-MA, etc).",
            "type": "string"
          },
          {
            "in": "query",
            "name": "HasThemeSong",
            "description": "Optional filter by items with theme songs.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasThemeVideo",
            "description": "Optional filter by items with theme videos.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasSubtitles",
            "description": "Optional filter by items with subtitles.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasSpecialFeature",
            "description": "Optional filter by items with special features.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasTrailer",
            "description": "Optional filter by items with trailers.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "AdjacentTo",
            "description": "Optional. Return items that are siblings of a supplied item.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MinIndexNumber",
            "description": "Optional filter by minimum index number.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "MinStartDate",
            "description": "Optional. The minimum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MaxStartDate",
            "description": "Optional. The maximum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MinEndDate",
            "description": "Optional. The minimum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MaxEndDate",
            "description": "Optional. The maximum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MinPlayers",
            "description": "Optional filter by minimum number of game players.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "MaxPlayers",
            "description": "Optional filter by maximum number of game players.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "ParentIndexNumber",
            "description": "Optional filter by parent index number.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "HasParentalRating",
            "description": "Optional filter by items that have or do not have a parental rating",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsHD",
            "description": "Optional filter by items that are HD or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsUnaired",
            "description": "Optional filter by items that are unaired episodes or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "MinCommunityRating",
            "description": "Optional filter by minimum community rating.",
            "type": "number",
            "format": "double"
          },
          {
            "in": "query",
            "name": "MinCriticRating",
            "description": "Optional filter by minimum critic rating.",
            "type": "number",
            "format": "double"
          },
          {
            "in": "query",
            "name": "AiredDuringSeason",
            "description": "Gets all episodes that aired during a season, including specials.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "MinPremiereDate",
            "description": "Optional. The minimum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MinDateLastSaved",
            "description": "Optional. The minimum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MinDateLastSavedForUser",
            "description": "Optional. The minimum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MaxPremiereDate",
            "description": "Optional. The maximum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "HasOverview",
            "description": "Optional filter by items that have an overview or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasImdbId",
            "description": "Optional filter by items that have an imdb id or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasTmdbId",
            "description": "Optional filter by items that have a tmdb id or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasTvdbId",
            "description": "Optional filter by items that have a tvdb id or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ExcludeItemIds",
            "description": "Optional. If specified, results will be filtered by exxcluding item ids. This allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "StartIndex",
            "description": "Optional. The record index to start at. All items with a lower index will be dropped from the results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "Limit",
            "description": "Optional. The maximum number of records to return",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "Recursive",
            "description": "When searching within folders, this determines whether or not the search will be recursive. true/false",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "SearchTerm",
            "description": "Enter a search term to perform a search request",
            "type": "string"
          },
          {
            "in": "query",
            "name": "SortOrder",
            "description": "Sort Order - Ascending,Descending",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ParentId",
            "description": "Specify this to localize the search to a specific item or folder. Omit to use the root",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Fields",
            "description": "Optional. Specify additional fields of information to return in the output. This allows multiple, comma delimeted. Options: Budget, Chapters, DateCreated, Genres, HomePageUrl, IndexOptions, MediaStreams, Overview, ParentId, Path, People, ProviderIds, PrimaryImageAspectRatio, Revenue, SortName, Studios, Taglines",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ExcludeItemTypes",
            "description": "Optional. If specified, results will be filtered based on item type. This allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "IncludeItemTypes",
            "description": "Optional. If specified, results will be filtered based on item type. This allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "AnyProviderIdEquals",
            "description": "Optional. If specified, result will be filtered to contain only items which match at least one of the specified IDs. Each provider ID must be in the form 'prov.id', e.g. 'imdb.tt123456'. This allows multiple, comma delimeted value pairs.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Filters",
            "description": "Optional. Specify additional filters to apply. This allows multiple, comma delimeted. Options: IsFolder, IsNotFolder, IsUnplayed, IsPlayed, IsFavorite, IsResumable, Likes, Dislikes",
            "type": "string"
          },
          {
            "in": "query",
            "name": "IsFavorite",
            "description": "Optional filter by items that are marked as favorite, or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsMovie",
            "description": "Optional filter for movies.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsSeries",
            "description": "Optional filter for series.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsFolder",
            "description": "Optional filter for folders.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsNews",
            "description": "Optional filter for news.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsKids",
            "description": "Optional filter for kids.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsSports",
            "description": "Optional filter for sports.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsNew",
            "description": "Optional filter for IsNew.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsPremiere",
            "description": "Optional filter for IsPremiere.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsNewOrPremiere",
            "description": "Optional filter for IsNewOrPremiere.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsRepeat",
            "description": "Optional filter for IsRepeat.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ProjectToMedia",
            "description": "ProjectToMedia",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "MediaTypes",
            "description": "Optional filter by MediaType. Allows multiple, comma delimited.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ImageTypes",
            "description": "Optional. If specified, results will be filtered based on those containing image types. This allows multiple, comma delimited.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "SortBy",
            "description": "Optional. Specify one or more sort orders, comma delimeted. Options: Album, AlbumArtist, Artist, Budget, CommunityRating, CriticRating, DateCreated, DatePlayed, PlayCount, PremiereDate, ProductionYear, SortName, Random, Revenue, Runtime",
            "type": "string"
          },
          {
            "in": "query",
            "name": "IsPlayed",
            "description": "Optional filter by items that are played, or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "Genres",
            "description": "Optional. If specified, results will be filtered based on genre. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "OfficialRatings",
            "description": "Optional. If specified, results will be filtered based on OfficialRating. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Tags",
            "description": "Optional. If specified, results will be filtered based on tag. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ExcludeTags",
            "description": "Optional. If specified, results will be filtered based on tag. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Years",
            "description": "Optional. If specified, results will be filtered based on production year. This allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "EnableImages",
            "description": "Optional, include image information in output",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "EnableUserData",
            "description": "Optional, include user data",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ImageTypeLimit",
            "description": "Optional, the max number of images to return, per image type",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "EnableImageTypes",
            "description": "Optional. The image types to include in the output.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Person",
            "description": "Optional. If specified, results will be filtered to include only those containing the specified person.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "PersonIds",
            "description": "Optional. If specified, results will be filtered to include only those containing the specified person.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "PersonTypes",
            "description": "Optional. If specified, along with Person, results will be filtered to include only those containing the specified person and PersonType. Allows multiple, comma-delimited",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Studios",
            "description": "Optional. If specified, results will be filtered based on studio. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "StudioIds",
            "description": "Optional. If specified, results will be filtered based on studio. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Artists",
            "description": "Optional. If specified, results will be filtered based on artist. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ArtistIds",
            "description": "Optional. If specified, results will be filtered based on artist. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Albums",
            "description": "Optional. If specified, results will be filtered based on album. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Ids",
            "description": "Optional. If specific items are needed, specify a list of item id's to retrieve. This allows multiple, comma delimited.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "VideoTypes",
            "description": "Optional filter by VideoType (videofile, dvd, bluray, iso). Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Containers",
            "description": "Optional filter by Container. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "AudioCodecs",
            "description": "Optional filter by AudioCodec. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "AudioLayouts",
            "description": "Optional filter by AudioLayout. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "VideoCodecs",
            "description": "Optional filter by VideoCodec. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ExtendedVideoTypes",
            "description": "Optional filter by ExtendedVideoType. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "SubtitleCodecs",
            "description": "Optional filter by SubtitleCodec. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Path",
            "description": "Optional filter by Path.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "UserId",
            "description": "User Id",
            "type": "string",
            "format": "guid"
          },
          {
            "in": "query",
            "name": "MinOfficialRating",
            "description": "Optional filter by minimum official rating (PG, PG-13, TV-MA, etc).",
            "type": "string"
          },
          {
            "in": "query",
            "name": "IsLocked",
            "description": "Optional filter by items that are locked.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsPlaceHolder",
            "description": "Optional filter by items that are placeholders",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasOfficialRating",
            "description": "Optional filter by items that have official ratings",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "GroupItemsIntoCollections",
            "description": "Whether or not to hide items behind their boxsets.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "Is3D",
            "description": "Optional filter by items that are 3D, or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "SeriesStatus",
            "description": "Optional filter by Series Status. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "NameStartsWithOrGreater",
            "description": "Optional filter by items whose name is sorted equally or greater than a given input string.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ArtistStartsWithOrGreater",
            "description": "Optional filter by items whose name is sorted equally or greater than a given input string.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "AlbumArtistStartsWithOrGreater",
            "description": "Optional filter by items whose name is sorted equally or greater than a given input string.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "NameStartsWith",
            "description": "Optional filter by items whose name is sorted equally than a given input string.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "NameLessThan",
            "description": "Optional filter by items whose name is equally or lesser than a given input string.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful. Returning a QueryResult<TagItem> object.",
            "schema": {
              "$ref": "#/definitions/QueryResult_UserLibrary.TagItem"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        },
        "security": [
          {
            "apikeyauth": [ ]
          },
          {
            "embyauth": [ ]
          }
        ],
        "x-RequiredAuthentication": "Requires authentication as user"
      },
      "x-summary": "Gets items based on a query."
    },
    "/AudioLayouts": {
      "get": {
        "tags": [
          "TagService"
        ],
        "summary": "Gets items based on a query.",
        "description": "Requires authentication as user",
        "operationId": "getAudiolayouts",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "ArtistType",
            "description": "Artist or AlbumArtist",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MaxOfficialRating",
            "description": "Optional filter by maximum official rating (PG, PG-13, TV-MA, etc).",
            "type": "string"
          },
          {
            "in": "query",
            "name": "HasThemeSong",
            "description": "Optional filter by items with theme songs.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasThemeVideo",
            "description": "Optional filter by items with theme videos.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasSubtitles",
            "description": "Optional filter by items with subtitles.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasSpecialFeature",
            "description": "Optional filter by items with special features.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasTrailer",
            "description": "Optional filter by items with trailers.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "AdjacentTo",
            "description": "Optional. Return items that are siblings of a supplied item.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MinIndexNumber",
            "description": "Optional filter by minimum index number.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "MinStartDate",
            "description": "Optional. The minimum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MaxStartDate",
            "description": "Optional. The maximum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MinEndDate",
            "description": "Optional. The minimum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MaxEndDate",
            "description": "Optional. The maximum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MinPlayers",
            "description": "Optional filter by minimum number of game players.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "MaxPlayers",
            "description": "Optional filter by maximum number of game players.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "ParentIndexNumber",
            "description": "Optional filter by parent index number.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "HasParentalRating",
            "description": "Optional filter by items that have or do not have a parental rating",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsHD",
            "description": "Optional filter by items that are HD or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsUnaired",
            "description": "Optional filter by items that are unaired episodes or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "MinCommunityRating",
            "description": "Optional filter by minimum community rating.",
            "type": "number",
            "format": "double"
          },
          {
            "in": "query",
            "name": "MinCriticRating",
            "description": "Optional filter by minimum critic rating.",
            "type": "number",
            "format": "double"
          },
          {
            "in": "query",
            "name": "AiredDuringSeason",
            "description": "Gets all episodes that aired during a season, including specials.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "MinPremiereDate",
            "description": "Optional. The minimum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MinDateLastSaved",
            "description": "Optional. The minimum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MinDateLastSavedForUser",
            "description": "Optional. The minimum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MaxPremiereDate",
            "description": "Optional. The maximum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "HasOverview",
            "description": "Optional filter by items that have an overview or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasImdbId",
            "description": "Optional filter by items that have an imdb id or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasTmdbId",
            "description": "Optional filter by items that have a tmdb id or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasTvdbId",
            "description": "Optional filter by items that have a tvdb id or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ExcludeItemIds",
            "description": "Optional. If specified, results will be filtered by exxcluding item ids. This allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "StartIndex",
            "description": "Optional. The record index to start at. All items with a lower index will be dropped from the results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "Limit",
            "description": "Optional. The maximum number of records to return",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "Recursive",
            "description": "When searching within folders, this determines whether or not the search will be recursive. true/false",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "SearchTerm",
            "description": "Enter a search term to perform a search request",
            "type": "string"
          },
          {
            "in": "query",
            "name": "SortOrder",
            "description": "Sort Order - Ascending,Descending",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ParentId",
            "description": "Specify this to localize the search to a specific item or folder. Omit to use the root",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Fields",
            "description": "Optional. Specify additional fields of information to return in the output. This allows multiple, comma delimeted. Options: Budget, Chapters, DateCreated, Genres, HomePageUrl, IndexOptions, MediaStreams, Overview, ParentId, Path, People, ProviderIds, PrimaryImageAspectRatio, Revenue, SortName, Studios, Taglines",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ExcludeItemTypes",
            "description": "Optional. If specified, results will be filtered based on item type. This allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "IncludeItemTypes",
            "description": "Optional. If specified, results will be filtered based on item type. This allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "AnyProviderIdEquals",
            "description": "Optional. If specified, result will be filtered to contain only items which match at least one of the specified IDs. Each provider ID must be in the form 'prov.id', e.g. 'imdb.tt123456'. This allows multiple, comma delimeted value pairs.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Filters",
            "description": "Optional. Specify additional filters to apply. This allows multiple, comma delimeted. Options: IsFolder, IsNotFolder, IsUnplayed, IsPlayed, IsFavorite, IsResumable, Likes, Dislikes",
            "type": "string"
          },
          {
            "in": "query",
            "name": "IsFavorite",
            "description": "Optional filter by items that are marked as favorite, or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsMovie",
            "description": "Optional filter for movies.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsSeries",
            "description": "Optional filter for series.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsFolder",
            "description": "Optional filter for folders.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsNews",
            "description": "Optional filter for news.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsKids",
            "description": "Optional filter for kids.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsSports",
            "description": "Optional filter for sports.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsNew",
            "description": "Optional filter for IsNew.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsPremiere",
            "description": "Optional filter for IsPremiere.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsNewOrPremiere",
            "description": "Optional filter for IsNewOrPremiere.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsRepeat",
            "description": "Optional filter for IsRepeat.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ProjectToMedia",
            "description": "ProjectToMedia",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "MediaTypes",
            "description": "Optional filter by MediaType. Allows multiple, comma delimited.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ImageTypes",
            "description": "Optional. If specified, results will be filtered based on those containing image types. This allows multiple, comma delimited.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "SortBy",
            "description": "Optional. Specify one or more sort orders, comma delimeted. Options: Album, AlbumArtist, Artist, Budget, CommunityRating, CriticRating, DateCreated, DatePlayed, PlayCount, PremiereDate, ProductionYear, SortName, Random, Revenue, Runtime",
            "type": "string"
          },
          {
            "in": "query",
            "name": "IsPlayed",
            "description": "Optional filter by items that are played, or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "Genres",
            "description": "Optional. If specified, results will be filtered based on genre. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "OfficialRatings",
            "description": "Optional. If specified, results will be filtered based on OfficialRating. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Tags",
            "description": "Optional. If specified, results will be filtered based on tag. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ExcludeTags",
            "description": "Optional. If specified, results will be filtered based on tag. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Years",
            "description": "Optional. If specified, results will be filtered based on production year. This allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "EnableImages",
            "description": "Optional, include image information in output",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "EnableUserData",
            "description": "Optional, include user data",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ImageTypeLimit",
            "description": "Optional, the max number of images to return, per image type",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "EnableImageTypes",
            "description": "Optional. The image types to include in the output.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Person",
            "description": "Optional. If specified, results will be filtered to include only those containing the specified person.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "PersonIds",
            "description": "Optional. If specified, results will be filtered to include only those containing the specified person.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "PersonTypes",
            "description": "Optional. If specified, along with Person, results will be filtered to include only those containing the specified person and PersonType. Allows multiple, comma-delimited",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Studios",
            "description": "Optional. If specified, results will be filtered based on studio. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "StudioIds",
            "description": "Optional. If specified, results will be filtered based on studio. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Artists",
            "description": "Optional. If specified, results will be filtered based on artist. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ArtistIds",
            "description": "Optional. If specified, results will be filtered based on artist. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Albums",
            "description": "Optional. If specified, results will be filtered based on album. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Ids",
            "description": "Optional. If specific items are needed, specify a list of item id's to retrieve. This allows multiple, comma delimited.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "VideoTypes",
            "description": "Optional filter by VideoType (videofile, dvd, bluray, iso). Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Containers",
            "description": "Optional filter by Container. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "AudioCodecs",
            "description": "Optional filter by AudioCodec. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "AudioLayouts",
            "description": "Optional filter by AudioLayout. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "VideoCodecs",
            "description": "Optional filter by VideoCodec. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ExtendedVideoTypes",
            "description": "Optional filter by ExtendedVideoType. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "SubtitleCodecs",
            "description": "Optional filter by SubtitleCodec. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Path",
            "description": "Optional filter by Path.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "UserId",
            "description": "User Id",
            "type": "string",
            "format": "guid"
          },
          {
            "in": "query",
            "name": "MinOfficialRating",
            "description": "Optional filter by minimum official rating (PG, PG-13, TV-MA, etc).",
            "type": "string"
          },
          {
            "in": "query",
            "name": "IsLocked",
            "description": "Optional filter by items that are locked.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsPlaceHolder",
            "description": "Optional filter by items that are placeholders",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasOfficialRating",
            "description": "Optional filter by items that have official ratings",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "GroupItemsIntoCollections",
            "description": "Whether or not to hide items behind their boxsets.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "Is3D",
            "description": "Optional filter by items that are 3D, or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "SeriesStatus",
            "description": "Optional filter by Series Status. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "NameStartsWithOrGreater",
            "description": "Optional filter by items whose name is sorted equally or greater than a given input string.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ArtistStartsWithOrGreater",
            "description": "Optional filter by items whose name is sorted equally or greater than a given input string.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "AlbumArtistStartsWithOrGreater",
            "description": "Optional filter by items whose name is sorted equally or greater than a given input string.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "NameStartsWith",
            "description": "Optional filter by items whose name is sorted equally than a given input string.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "NameLessThan",
            "description": "Optional filter by items whose name is equally or lesser than a given input string.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful. Returning a QueryResult<TagItem> object.",
            "schema": {
              "$ref": "#/definitions/QueryResult_UserLibrary.TagItem"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        },
        "security": [
          {
            "apikeyauth": [ ]
          },
          {
            "embyauth": [ ]
          }
        ],
        "x-RequiredAuthentication": "Requires authentication as user"
      },
      "x-summary": "Gets items based on a query."
    },
    "/Channels": {
      "get": {
        "tags": [
          "ChannelService"
        ],
        "summary": "Gets available channels",
        "description": "Requires authentication as user",
        "externalDocs": {
          "description": "API Documentation: Item Information",
          "url": "https://dev.emby.media/doc/restapi/Item-Information.html"
        },
        "operationId": "getChannels",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "UserId",
            "description": "User Id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "StartIndex",
            "description": "Optional. The record index to start at. All items with a lower index will be dropped from the results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "Fields",
            "description": "Optional. Specify additional fields of information to return in the output. This allows multiple, comma delimeted. Options: Budget, Chapters, DateCreated, Genres, HomePageUrl, IndexOptions, MediaStreams, Overview, ParentId, Path, People, ProviderIds, PrimaryImageAspectRatio, Revenue, SortName, Studios, Taglines, TrailerUrls",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Limit",
            "description": "Optional. The maximum number of records to return",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "EnableImages",
            "description": "Optional, include image information in output",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ImageTypeLimit",
            "description": "Optional, the max number of images to return, per image type",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "EnableImageTypes",
            "description": "Optional. The image types to include in the output.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "EnableUserData",
            "description": "Optional, include user data",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful. Returning a QueryResult<BaseItemDto> object.",
            "schema": {
              "$ref": "#/definitions/QueryResult_BaseItemDto"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        },
        "security": [
          {
            "apikeyauth": [ ]
          },
          {
            "embyauth": [ ]
          }
        ],
        "x-RequiredAuthentication": "Requires authentication as user"
      },
      "x-summary": "Gets available channels"
    },
    "/Collections": {
      "post": {
        "tags": [
          "CollectionService"
        ],
        "summary": "Creates a new collection",
        "description": "Requires authentication as user",
        "operationId": "postCollections",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "IsLocked",
            "description": "Whether or not to lock the new collection.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "Name",
            "description": "The name of the new collection.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ParentId",
            "description": "Optional - create the collection within a specific folder",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Ids",
            "description": "Item Ids to add to the collection",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful. Returning a CollectionCreationResult object.",
            "schema": {
              "$ref": "#/definitions/Collections.CollectionCreationResult"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        },
        "security": [
          {
            "apikeyauth": [ ]
          },
          {
            "embyauth": [ ]
          }
        ],
        "x-RequiredAuthentication": "Requires authentication as user"
      },
      "x-summary": "Creates a new collection"
    },
    "/Containers": {
      "get": {
        "tags": [
          "TagService"
        ],
        "summary": "Gets items based on a query.",
        "description": "Requires authentication as user",
        "operationId": "getContainers",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "ArtistType",
            "description": "Artist or AlbumArtist",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MaxOfficialRating",
            "description": "Optional filter by maximum official rating (PG, PG-13, TV-MA, etc).",
            "type": "string"
          },
          {
            "in": "query",
            "name": "HasThemeSong",
            "description": "Optional filter by items with theme songs.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasThemeVideo",
            "description": "Optional filter by items with theme videos.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasSubtitles",
            "description": "Optional filter by items with subtitles.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasSpecialFeature",
            "description": "Optional filter by items with special features.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasTrailer",
            "description": "Optional filter by items with trailers.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "AdjacentTo",
            "description": "Optional. Return items that are siblings of a supplied item.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MinIndexNumber",
            "description": "Optional filter by minimum index number.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "MinStartDate",
            "description": "Optional. The minimum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MaxStartDate",
            "description": "Optional. The maximum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MinEndDate",
            "description": "Optional. The minimum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MaxEndDate",
            "description": "Optional. The maximum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MinPlayers",
            "description": "Optional filter by minimum number of game players.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "MaxPlayers",
            "description": "Optional filter by maximum number of game players.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "ParentIndexNumber",
            "description": "Optional filter by parent index number.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "HasParentalRating",
            "description": "Optional filter by items that have or do not have a parental rating",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsHD",
            "description": "Optional filter by items that are HD or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsUnaired",
            "description": "Optional filter by items that are unaired episodes or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "MinCommunityRating",
            "description": "Optional filter by minimum community rating.",
            "type": "number",
            "format": "double"
          },
          {
            "in": "query",
            "name": "MinCriticRating",
            "description": "Optional filter by minimum critic rating.",
            "type": "number",
            "format": "double"
          },
          {
            "in": "query",
            "name": "AiredDuringSeason",
            "description": "Gets all episodes that aired during a season, including specials.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "MinPremiereDate",
            "description": "Optional. The minimum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MinDateLastSaved",
            "description": "Optional. The minimum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MinDateLastSavedForUser",
            "description": "Optional. The minimum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "MaxPremiereDate",
            "description": "Optional. The maximum premiere date. Format = ISO",
            "type": "string"
          },
          {
            "in": "query",
            "name": "HasOverview",
            "description": "Optional filter by items that have an overview or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasImdbId",
            "description": "Optional filter by items that have an imdb id or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasTmdbId",
            "description": "Optional filter by items that have a tmdb id or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasTvdbId",
            "description": "Optional filter by items that have a tvdb id or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ExcludeItemIds",
            "description": "Optional. If specified, results will be filtered by exxcluding item ids. This allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "StartIndex",
            "description": "Optional. The record index to start at. All items with a lower index will be dropped from the results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "Limit",
            "description": "Optional. The maximum number of records to return",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "Recursive",
            "description": "When searching within folders, this determines whether or not the search will be recursive. true/false",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "SearchTerm",
            "description": "Enter a search term to perform a search request",
            "type": "string"
          },
          {
            "in": "query",
            "name": "SortOrder",
            "description": "Sort Order - Ascending,Descending",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ParentId",
            "description": "Specify this to localize the search to a specific item or folder. Omit to use the root",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Fields",
            "description": "Optional. Specify additional fields of information to return in the output. This allows multiple, comma delimeted. Options: Budget, Chapters, DateCreated, Genres, HomePageUrl, IndexOptions, MediaStreams, Overview, ParentId, Path, People, ProviderIds, PrimaryImageAspectRatio, Revenue, SortName, Studios, Taglines",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ExcludeItemTypes",
            "description": "Optional. If specified, results will be filtered based on item type. This allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "IncludeItemTypes",
            "description": "Optional. If specified, results will be filtered based on item type. This allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "AnyProviderIdEquals",
            "description": "Optional. If specified, result will be filtered to contain only items which match at least one of the specified IDs. Each provider ID must be in the form 'prov.id', e.g. 'imdb.tt123456'. This allows multiple, comma delimeted value pairs.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Filters",
            "description": "Optional. Specify additional filters to apply. This allows multiple, comma delimeted. Options: IsFolder, IsNotFolder, IsUnplayed, IsPlayed, IsFavorite, IsResumable, Likes, Dislikes",
            "type": "string"
          },
          {
            "in": "query",
            "name": "IsFavorite",
            "description": "Optional filter by items that are marked as favorite, or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsMovie",
            "description": "Optional filter for movies.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsSeries",
            "description": "Optional filter for series.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsFolder",
            "description": "Optional filter for folders.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsNews",
            "description": "Optional filter for news.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsKids",
            "description": "Optional filter for kids.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsSports",
            "description": "Optional filter for sports.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsNew",
            "description": "Optional filter for IsNew.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsPremiere",
            "description": "Optional filter for IsPremiere.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsNewOrPremiere",
            "description": "Optional filter for IsNewOrPremiere.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsRepeat",
            "description": "Optional filter for IsRepeat.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ProjectToMedia",
            "description": "ProjectToMedia",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "MediaTypes",
            "description": "Optional filter by MediaType. Allows multiple, comma delimited.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ImageTypes",
            "description": "Optional. If specified, results will be filtered based on those containing image types. This allows multiple, comma delimited.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "SortBy",
            "description": "Optional. Specify one or more sort orders, comma delimeted. Options: Album, AlbumArtist, Artist, Budget, CommunityRating, CriticRating, DateCreated, DatePlayed, PlayCount, PremiereDate, ProductionYear, SortName, Random, Revenue, Runtime",
            "type": "string"
          },
          {
            "in": "query",
            "name": "IsPlayed",
            "description": "Optional filter by items that are played, or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "Genres",
            "description": "Optional. If specified, results will be filtered based on genre. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "OfficialRatings",
            "description": "Optional. If specified, results will be filtered based on OfficialRating. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Tags",
            "description": "Optional. If specified, results will be filtered based on tag. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ExcludeTags",
            "description": "Optional. If specified, results will be filtered based on tag. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Years",
            "description": "Optional. If specified, results will be filtered based on production year. This allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "EnableImages",
            "description": "Optional, include image information in output",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "EnableUserData",
            "description": "Optional, include user data",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ImageTypeLimit",
            "description": "Optional, the max number of images to return, per image type",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "EnableImageTypes",
            "description": "Optional. The image types to include in the output.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Person",
            "description": "Optional. If specified, results will be filtered to include only those containing the specified person.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "PersonIds",
            "description": "Optional. If specified, results will be filtered to include only those containing the specified person.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "PersonTypes",
            "description": "Optional. If specified, along with Person, results will be filtered to include only those containing the specified person and PersonType. Allows multiple, comma-delimited",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Studios",
            "description": "Optional. If specified, results will be filtered based on studio. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "StudioIds",
            "description": "Optional. If specified, results will be filtered based on studio. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Artists",
            "description": "Optional. If specified, results will be filtered based on artist. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ArtistIds",
            "description": "Optional. If specified, results will be filtered based on artist. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Albums",
            "description": "Optional. If specified, results will be filtered based on album. This allows multiple, pipe delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Ids",
            "description": "Optional. If specific items are needed, specify a list of item id's to retrieve. This allows multiple, comma delimited.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "VideoTypes",
            "description": "Optional filter by VideoType (videofile, dvd, bluray, iso). Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Containers",
            "description": "Optional filter by Container. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "AudioCodecs",
            "description": "Optional filter by AudioCodec. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "AudioLayouts",
            "description": "Optional filter by AudioLayout. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "VideoCodecs",
            "description": "Optional filter by VideoCodec. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ExtendedVideoTypes",
            "description": "Optional filter by ExtendedVideoType. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "SubtitleCodecs",
            "description": "Optional filter by SubtitleCodec. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "Path",
            "description": "Optional filter by Path.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "UserId",
            "description": "User Id",
            "type": "string",
            "format": "guid"
          },
          {
            "in": "query",
            "name": "MinOfficialRating",
            "description": "Optional filter by minimum official rating (PG, PG-13, TV-MA, etc).",
            "type": "string"
          },
          {
            "in": "query",
            "name": "IsLocked",
            "description": "Optional filter by items that are locked.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsPlaceHolder",
            "description": "Optional filter by items that are placeholders",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "HasOfficialRating",
            "description": "Optional filter by items that have official ratings",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "GroupItemsIntoCollections",
            "description": "Whether or not to hide items behind their boxsets.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "Is3D",
            "description": "Optional filter by items that are 3D, or not.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "SeriesStatus",
            "description": "Optional filter by Series Status. Allows multiple, comma delimeted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "NameStartsWithOrGreater",
            "description": "Optional filter by items whose name is sorted equally or greater than a given input string.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ArtistStartsWithOrGreater",
            "description": "Optional filter by items whose name is sorted equally or greater than a given input string.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "AlbumArtistStartsWithOrGreater",
            "description": "Optional filter by items whose name is sorted equally or greater than a given input string.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "NameStartsWith",
            "description": "Optional filter by items whose name is sorted equally than a given input string.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "NameLessThan",
            "description": "Optional filter by items whose name is equally or lesser than a given input string.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful. Returning a QueryResult<TagItem> object.",
            "schema": {
              "$ref": "#/definitions/QueryResult_UserLibrary.TagItem"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        },
        "security": [
          {
            "apikeyauth": [ ]
          },
          {
            "embyauth": [ ]
          }
        ],
        "x-RequiredAuthentication": "Requires authentication as user"
      },
      "x-summary": "Gets items based on a query."
    },
    "/Devices": {
      "get": {
        "tags": [
          "DeviceService"
        ],
        "summary": "Gets all devices",
        "description": "Requires authentication as administrator",
        "operationId": "getDevices",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "SortOrder",
            "description": "Sort Order - Ascending,Descending",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful. Returning a QueryResult<DeviceInfo> object.",
            "schema": {
              "$ref": "#/definitions/QueryResult_Devices.DeviceInfo"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        },
        "security": [
          {
            "apikeyauth": [ ]
          },
          {
            "embyauth": [ ]
          }
        ],
        "x-RequiredAuthentication": "Requires authentication as administrator"
      },
      "delete": {
        "tags": [
          "DeviceService"
        ],
        "summary": "Deletes a device",
        "description": "Requires authentication as administrator",
        "operationId": "deleteDevices",
        "parameters": [
          {
            "in": "query",
            "name": "Id",
            "description": "Device Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful. Response content unknown."
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        },
        "security": [
          {
            "apikeyauth": [ ]
          },
          {
            "embyauth": [ ]
          }
        ],
        "x-RequiredAuthentication": "Requires authentication as administrator"
      },
      "x-summary": "Gets all devices"
    },
    "/ExtendedVideoTypes": {
      "get": {
        "tags": [
          "TagService"
        ],
        "summary": "Gets items based on a query.",
        "description": "Requires authentication as user",
        "operationId": "getExtendedvideotypes",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
[...]
