openapi: 3.0.1
info:
  title: Emby Server REST API (BETA)
  description: Explore the Emby Server API
  termsOfService: https://emby.media/terms
  contact:
    name: Emby Developers
    url: https://emby.media/community/index.php?/forum/47-developer-api
  version: 4.8.0.21
externalDocs:
  description: API Documentation Wiki
  url: https://github.com/MediaBrowser/Emby/wiki
servers:
- url: http://emby.media/emby
tags:
- name: ArtistsService
- name: TagService
- name: ChannelService
- name: CollectionService
- name: DeviceService
- name: FeatureService
- name: GameGenresService
- name: GenresService
- name: ItemsService
  externalDocs:
    description: "API Documentation: Item Information"
    url: https://github.com/MediaBrowser/Emby/wiki/Item-Information
- name: LibraryService
  externalDocs:
    description: "API Documentation: Browsing the Library"
    url: https://github.com/MediaBrowser/Emby/wiki/Browsing-the-Library
- name: MusicGenresService
- name: OfficialRatingService
- name: OpenApiService
- name: PackageService
- name: PersonsService
- name: PlaylistService
  externalDocs:
    description: "API Documentation: Playlists"
    url: https://github.com/MediaBrowser/Emby/wiki/Playlists
- name: PluginService
- name: ScheduledTaskService
- name: SessionsService
  externalDocs:
    description: "API Documentation: Remote control"
    url: https://github.com/MediaBrowser/Emby/wiki/Remote-control
- name: StudiosService
- name: TrailersService
- name: ImageService
  externalDocs:
    description: "API Documentation: Images"
    url: https://github.com/MediaBrowser/Emby/wiki/Images
- name: InstantMixService
- name: BrandingService
- name: ConnectService
- name: DisplayPreferencesService
- name: DlnaService
- name: EncodingInfoService
- name: ToneMapOptionsService
- name: SubtitleOptionsService
- name: FfmpegOptionsService
- name: CodecParameterService
- name: EnvironmentService
- name: RemoteImageService
- name: ItemUpdateService
- name: LibraryStructureService
- name: MediaInfoService
- name: LiveTvService
- name: LocalizationService
- name: MoviesService
- name: NotificationsService
- name: PlaystateService
- name: TvShowsService
- name: SyncService
  externalDocs:
    description: "API Documentation: Sync"
    url: https://github.com/MediaBrowser/Emby/wiki/Sync
- name: ConfigurationService
- name: SystemService
- name: GenericUIApiService
- name: UserService
- name: VideosService
- name: HlsSegmentService
- name: WebAppService
- name: UniversalAudioService
  externalDocs:
    description: "API Documentation: Audio streaming"
    url: https://github.com/MediaBrowser/Emby/wiki/Audio-Streaming
- name: AudioService
  externalDocs:
    description: "API Documentation: Audio streaming"
    url: https://github.com/MediaBrowser/Emby/wiki/Audio-Streaming
- name: DynamicHlsService
  externalDocs:
    description: "API Documentation: Http Live Streaming"
    url: https://github.com/MediaBrowser/Emby/wiki/Http-Live-Streaming
- name: DlnaServerService
- name: ItemLookupService
- name: ItemRefreshService
- name: BifService
- name: UserLibraryService
  externalDocs:
    description: "API Documentation: Browsing the Library"
    url: https://github.com/MediaBrowser/Emby/wiki/Browsing-the-Library
- name: UserNotificationsService
- name: ActivityLogService
- name: SuggestionsService
- name: UserViewsService
  externalDocs:
    description: "API Documentation: Browsing the Library"
    url: https://github.com/MediaBrowser/Emby/wiki/Browsing-the-Library
- name: VideoService
  externalDocs:
    description: "API Documentation: Video streaming"
    url: https://github.com/MediaBrowser/Emby/wiki/Video-Streaming
- name: VideoHlsService
- name: SubtitleService
paths:
  /Artists:
    summary: "Gets all artists from a given item, folder, or the entire library"
    get:
      tags:
      - ArtistsService
      summary: "Gets all artists from a given item, folder, or the entire library"
      description: Requires authentication as user
      externalDocs:
        description: "API Documentation: Items by name"
        url: https://github.com/MediaBrowser/Emby/wiki/Items-by-name
      operationId: getArtists
      parameters:
      - name: ArtistType
        in: query
        description: Artist or AlbumArtist
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: MaxOfficialRating
        in: query
        description: "Optional filter by maximum official rating (PG, PG-13, TV-MA,\
          \ etc)."
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: HasThemeSong
        in: query
        description: Optional filter by items with theme songs.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasThemeVideo
        in: query
        description: Optional filter by items with theme videos.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasSubtitles
        in: query
        description: Optional filter by items with subtitles.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasSpecialFeature
        in: query
        description: Optional filter by items with special features.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasTrailer
        in: query
        description: Optional filter by items with trailers.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: AdjacentTo
        in: query
        description: Optional. Return items that are siblings of a supplied item.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: MinIndexNumber
        in: query
        description: Optional filter by minimum index number.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: MinPlayers
        in: query
        description: Optional filter by minimum number of game players.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: MaxPlayers
        in: query
        description: Optional filter by maximum number of game players.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: ParentIndexNumber
        in: query
        description: Optional filter by parent index number.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: HasParentalRating
        in: query
        description: Optional filter by items that have or do not have a parental
          rating
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsHD
        in: query
        description: Optional filter by items that are HD or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: LocationTypes
        in: query
        description: "Optional. If specified, results will be filtered based on LocationType.\
          \ This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ExcludeLocationTypes
        in: query
        description: "Optional. If specified, results will be filtered based on LocationType.\
          \ This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: IsMissing
        in: query
        description: Optional filter by items that are missing episodes or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsUnaired
        in: query
        description: Optional filter by items that are unaired episodes or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: MinCommunityRating
        in: query
        description: Optional filter by minimum community rating.
        required: false
        style: form
        explode: false
        schema:
          type: number
          format: double
          nullable: true
      - name: MinCriticRating
        in: query
        description: Optional filter by minimum critic rating.
        required: false
        style: form
        explode: false
        schema:
          type: number
          format: double
          nullable: true
      - name: AiredDuringSeason
        in: query
        description: "Gets all episodes that aired during a season, including specials."
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: MinPremiereDate
        in: query
        description: Optional. The minimum premiere date. Format = ISO
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: MinDateLastSaved
        in: query
        description: Optional. The minimum premiere date. Format = ISO
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: MinDateLastSavedForUser
        in: query
        description: Optional. The minimum premiere date. Format = ISO
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: MaxPremiereDate
        in: query
        description: Optional. The maximum premiere date. Format = ISO
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: HasOverview
        in: query
        description: Optional filter by items that have an overview or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasImdbId
        in: query
        description: Optional filter by items that have an imdb id or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasTmdbId
        in: query
        description: Optional filter by items that have a tmdb id or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasTvdbId
        in: query
        description: Optional filter by items that have a tvdb id or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: ExcludeItemIds
        in: query
        description: "Optional. If specified, results will be filtered by exxcluding\
          \ item ids. This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: StartIndex
        in: query
        description: Optional. The record index to start at. All items with a lower
          index will be dropped from the results.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: Limit
        in: query
        description: Optional. The maximum number of records to return
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: Recursive
        in: query
        description: "When searching within folders, this determines whether or not\
          \ the search will be recursive. true/false"
        required: false
        style: form
        explode: false
        schema:
          type: boolean
      - name: SearchTerm
        in: query
        description: Enter a search term to perform a search request
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: SortOrder
        in: query
        description: "Sort Order - Ascending,Descending"
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: ParentId
        in: query
        description: Specify this to localize the search to a specific item or folder.
          Omit to use the root
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: Fields
        in: query
        description: "Optional. Specify additional fields of information to return\
          \ in the output. This allows multiple, comma delimeted. Options: Budget,\
          \ Chapters, DateCreated, Genres, HomePageUrl, IndexOptions, MediaStreams,\
          \ Overview, ParentId, Path, People, ProviderIds, PrimaryImageAspectRatio,\
          \ Revenue, SortName, Studios, Taglines"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ExcludeItemTypes
        in: query
        description: "Optional. If specified, results will be filtered based on item\
          \ type. This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: IncludeItemTypes
        in: query
        description: "Optional. If specified, results will be filtered based on item\
          \ type. This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: AnyProviderIdEquals
        in: query
        description: "Optional. If specified, result will be filtered to contain only\
          \ items which match at least one of the specified IDs. Each provider ID\
          \ must be in the form 'prov.id', e.g. 'imdb.tt123456'. This allows multiple,\
          \ comma delimeted value pairs."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Filters
        in: query
        description: "Optional. Specify additional filters to apply. This allows multiple,\
          \ comma delimeted. Options: IsFolder, IsNotFolder, IsUnplayed, IsPlayed,\
          \ IsFavorite, IsResumable, Likes, Dislikes"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: IsFavorite
        in: query
        description: "Optional filter by items that are marked as favorite, or not."
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsMovie
        in: query
        description: Optional filter for movies.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsSeries
        in: query
        description: Optional filter for series.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsFolder
        in: query
        description: Optional filter for folders.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsNews
        in: query
        description: Optional filter for news.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsKids
        in: query
        description: Optional filter for kids.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsSports
        in: query
        description: Optional filter for sports.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: MediaTypes
        in: query
        description: "Optional filter by MediaType. Allows multiple, comma delimited."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ImageTypes
        in: query
        description: "Optional. If specified, results will be filtered based on those\
          \ containing image types. This allows multiple, comma delimited."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: SortBy
        in: query
        description: "Optional. Specify one or more sort orders, comma delimeted.\
          \ Options: Album, AlbumArtist, Artist, Budget, CommunityRating, CriticRating,\
          \ DateCreated, DatePlayed, PlayCount, PremiereDate, ProductionYear, SortName,\
          \ Random, Revenue, Runtime"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: IsPlayed
        in: query
        description: "Optional filter by items that are played, or not."
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: Genres
        in: query
        description: "Optional. If specified, results will be filtered based on genre.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: OfficialRatings
        in: query
        description: "Optional. If specified, results will be filtered based on OfficialRating.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Tags
        in: query
        description: "Optional. If specified, results will be filtered based on tag.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Years
        in: query
        description: "Optional. If specified, results will be filtered based on production\
          \ year. This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: EnableImages
        in: query
        description: "Optional, include image information in output"
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: EnableUserData
        in: query
        description: "Optional, include user data"
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: ImageTypeLimit
        in: query
        description: "Optional, the max number of images to return, per image type"
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: EnableImageTypes
        in: query
        description: Optional. The image types to include in the output.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: Person
        in: query
        description: "Optional. If specified, results will be filtered to include\
          \ only those containing the specified person."
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: PersonIds
        in: query
        description: "Optional. If specified, results will be filtered to include\
          \ only those containing the specified person."
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: PersonTypes
        in: query
        description: "Optional. If specified, along with Person, results will be filtered\
          \ to include only those containing the specified person and PersonType.\
          \ Allows multiple, comma-delimited"
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: Studios
        in: query
        description: "Optional. If specified, results will be filtered based on studio.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: StudioIds
        in: query
        description: "Optional. If specified, results will be filtered based on studio.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Artists
        in: query
        description: "Optional. If specified, results will be filtered based on artist.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ArtistIds
        in: query
        description: "Optional. If specified, results will be filtered based on artist.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Albums
        in: query
        description: "Optional. If specified, results will be filtered based on album.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Ids
        in: query
        description: "Optional. If specific items are needed, specify a list of item\
          \ id's to retrieve. This allows multiple, comma delimited."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: VideoTypes
        in: query
        description: "Optional filter by VideoType (videofile, dvd, bluray, iso).\
          \ Allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Containers
        in: query
        description: "Optional filter by Container. Allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: AudioCodecs
        in: query
        description: "Optional filter by AudioCodec. Allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: VideoCodecs
        in: query
        description: "Optional filter by VideoCodec. Allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: SubtitleCodecs
        in: query
        description: "Optional filter by SubtitleCodec. Allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Path
        in: query
        description: Optional filter by Path.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: UserId
        in: query
        description: User Id
        required: false
        style: form
        explode: false
        schema:
          type: string
          format: guid
      - name: MinOfficialRating
        in: query
        description: "Optional filter by minimum official rating (PG, PG-13, TV-MA,\
          \ etc)."
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: IsLocked
        in: query
        description: Optional filter by items that are locked.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsPlaceHolder
        in: query
        description: Optional filter by items that are placeholders
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasOfficialRating
        in: query
        description: Optional filter by items that have official ratings
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: GroupItemsIntoCollections
        in: query
        description: Whether or not to hide items behind their boxsets.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
      - name: Is3D
        in: query
        description: "Optional filter by items that are 3D, or not."
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: SeriesStatus
        in: query
        description: "Optional filter by Series Status. Allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: NameStartsWithOrGreater
        in: query
        description: Optional filter by items whose name is sorted equally or greater
          than a given input string.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: ArtistStartsWithOrGreater
        in: query
        description: Optional filter by items whose name is sorted equally or greater
          than a given input string.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: AlbumArtistStartsWithOrGreater
        in: query
        description: Optional filter by items whose name is sorted equally or greater
          than a given input string.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: NameStartsWith
        in: query
        description: Optional filter by items whose name is sorted equally than a
          given input string.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: NameLessThan
        in: query
        description: Optional filter by items whose name is equally or lesser than
          a given input string.
        required: false
        style: form
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Operation successful. Returning a QueryResult<BaseItemDto>
            object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult_BaseItemDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryResult_BaseItemDto'
        "400":
          description: Bad Request. Server cannot process request.
        "401":
          description: Unauthorized. Client needs to authenticate.
        "403":
          description: Forbidden. No permission for the reqested operation.
        "404":
          description: Resource not found or unavailable.
        "500":
          description: Server error.
      security:
      - apikeyauth: []
      - embyauth: []
      x-RequiredAuthentication: Requires authentication as user
  /AudioCodecs:
    summary: Gets items based on a query.
    get:
      tags:
      - TagService
      summary: Gets items based on a query.
      description: Requires authentication as user
      operationId: getAudiocodecs
      parameters:
      - name: ArtistType
        in: query
        description: Artist or AlbumArtist
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: MaxOfficialRating
        in: query
        description: "Optional filter by maximum official rating (PG, PG-13, TV-MA,\
          \ etc)."
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: HasThemeSong
        in: query
        description: Optional filter by items with theme songs.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasThemeVideo
        in: query
        description: Optional filter by items with theme videos.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasSubtitles
        in: query
        description: Optional filter by items with subtitles.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasSpecialFeature
        in: query
        description: Optional filter by items with special features.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasTrailer
        in: query
        description: Optional filter by items with trailers.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: AdjacentTo
        in: query
        description: Optional. Return items that are siblings of a supplied item.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: MinIndexNumber
        in: query
        description: Optional filter by minimum index number.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: MinPlayers
        in: query
        description: Optional filter by minimum number of game players.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: MaxPlayers
        in: query
        description: Optional filter by maximum number of game players.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: ParentIndexNumber
        in: query
        description: Optional filter by parent index number.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: HasParentalRating
        in: query
        description: Optional filter by items that have or do not have a parental
          rating
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsHD
        in: query
        description: Optional filter by items that are HD or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: LocationTypes
        in: query
        description: "Optional. If specified, results will be filtered based on LocationType.\
          \ This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ExcludeLocationTypes
        in: query
        description: "Optional. If specified, results will be filtered based on LocationType.\
          \ This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: IsMissing
        in: query
        description: Optional filter by items that are missing episodes or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsUnaired
        in: query
        description: Optional filter by items that are unaired episodes or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: MinCommunityRating
        in: query
        description: Optional filter by minimum community rating.
        required: false
        style: form
        explode: false
        schema:
          type: number
          format: double
          nullable: true
      - name: MinCriticRating
        in: query
        description: Optional filter by minimum critic rating.
        required: false
        style: form
        explode: false
        schema:
          type: number
          format: double
          nullable: true
      - name: AiredDuringSeason
        in: query
        description: "Gets all episodes that aired during a season, including specials."
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: MinPremiereDate
        in: query
        description: Optional. The minimum premiere date. Format = ISO
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: MinDateLastSaved
        in: query
        description: Optional. The minimum premiere date. Format = ISO
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: MinDateLastSavedForUser
        in: query
        description: Optional. The minimum premiere date. Format = ISO
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: MaxPremiereDate
        in: query
        description: Optional. The maximum premiere date. Format = ISO
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: HasOverview
        in: query
        description: Optional filter by items that have an overview or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasImdbId
        in: query
        description: Optional filter by items that have an imdb id or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasTmdbId
        in: query
        description: Optional filter by items that have a tmdb id or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasTvdbId
        in: query
        description: Optional filter by items that have a tvdb id or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: ExcludeItemIds
        in: query
        description: "Optional. If specified, results will be filtered by exxcluding\
          \ item ids. This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: StartIndex
        in: query
        description: Optional. The record index to start at. All items with a lower
          index will be dropped from the results.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: Limit
        in: query
        description: Optional. The maximum number of records to return
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: Recursive
        in: query
        description: "When searching within folders, this determines whether or not\
          \ the search will be recursive. true/false"
        required: false
        style: form
        explode: false
        schema:
          type: boolean
      - name: SearchTerm
        in: query
        description: Enter a search term to perform a search request
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: SortOrder
        in: query
        description: "Sort Order - Ascending,Descending"
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: ParentId
        in: query
        description: Specify this to localize the search to a specific item or folder.
          Omit to use the root
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: Fields
        in: query
        description: "Optional. Specify additional fields of information to return\
          \ in the output. This allows multiple, comma delimeted. Options: Budget,\
          \ Chapters, DateCreated, Genres, HomePageUrl, IndexOptions, MediaStreams,\
          \ Overview, ParentId, Path, People, ProviderIds, PrimaryImageAspectRatio,\
          \ Revenue, SortName, Studios, Taglines"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ExcludeItemTypes
        in: query
        description: "Optional. If specified, results will be filtered based on item\
          \ type. This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: IncludeItemTypes
        in: query
        description: "Optional. If specified, results will be filtered based on item\
          \ type. This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: AnyProviderIdEquals
        in: query
        description: "Optional. If specified, result will be filtered to contain only\
          \ items which match at least one of the specified IDs. Each provider ID\
          \ must be in the form 'prov.id', e.g. 'imdb.tt123456'. This allows multiple,\
          \ comma delimeted value pairs."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Filters
        in: query
        description: "Optional. Specify additional filters to apply. This allows multiple,\
          \ comma delimeted. Options: IsFolder, IsNotFolder, IsUnplayed, IsPlayed,\
          \ IsFavorite, IsResumable, Likes, Dislikes"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: IsFavorite
        in: query
        description: "Optional filter by items that are marked as favorite, or not."
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsMovie
        in: query
        description: Optional filter for movies.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsSeries
        in: query
        description: Optional filter for series.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsFolder
        in: query
        description: Optional filter for folders.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsNews
        in: query
        description: Optional filter for news.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsKids
        in: query
        description: Optional filter for kids.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsSports
        in: query
        description: Optional filter for sports.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: MediaTypes
        in: query
        description: "Optional filter by MediaType. Allows multiple, comma delimited."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ImageTypes
        in: query
        description: "Optional. If specified, results will be filtered based on those\
          \ containing image types. This allows multiple, comma delimited."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: SortBy
        in: query
        description: "Optional. Specify one or more sort orders, comma delimeted.\
          \ Options: Album, AlbumArtist, Artist, Budget, CommunityRating, CriticRating,\
          \ DateCreated, DatePlayed, PlayCount, PremiereDate, ProductionYear, SortName,\
          \ Random, Revenue, Runtime"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: IsPlayed
        in: query
        description: "Optional filter by items that are played, or not."
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: Genres
        in: query
        description: "Optional. If specified, results will be filtered based on genre.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: OfficialRatings
        in: query
        description: "Optional. If specified, results will be filtered based on OfficialRating.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Tags
        in: query
        description: "Optional. If specified, results will be filtered based on tag.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Years
        in: query
        description: "Optional. If specified, results will be filtered based on production\
          \ year. This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: EnableImages
        in: query
        description: "Optional, include image information in output"
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: EnableUserData
        in: query
        description: "Optional, include user data"
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: ImageTypeLimit
        in: query
        description: "Optional, the max number of images to return, per image type"
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: EnableImageTypes
        in: query
        description: Optional. The image types to include in the output.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: Person
        in: query
        description: "Optional. If specified, results will be filtered to include\
          \ only those containing the specified person."
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: PersonIds
        in: query
        description: "Optional. If specified, results will be filtered to include\
          \ only those containing the specified person."
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: PersonTypes
        in: query
        description: "Optional. If specified, along with Person, results will be filtered\
          \ to include only those containing the specified person and PersonType.\
          \ Allows multiple, comma-delimited"
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: Studios
        in: query
        description: "Optional. If specified, results will be filtered based on studio.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: StudioIds
        in: query
        description: "Optional. If specified, results will be filtered based on studio.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Artists
        in: query
        description: "Optional. If specified, results will be filtered based on artist.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ArtistIds
        in: query
        description: "Optional. If specified, results will be filtered based on artist.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Albums
        in: query
        description: "Optional. If specified, results will be filtered based on album.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Ids
        in: query
        description: "Optional. If specific items are needed, specify a list of item\
          \ id's to retrieve. This allows multiple, comma delimited."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: VideoTypes
        in: query
        description: "Optional filter by VideoType (videofile, dvd, bluray, iso).\
          \ Allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Containers
        in: query
        description: "Optional filter by Container. Allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: AudioCodecs
        in: query
        description: "Optional filter by AudioCodec. Allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: VideoCodecs
        in: query
        description: "Optional filter by VideoCodec. Allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: SubtitleCodecs
        in: query
        description: "Optional filter by SubtitleCodec. Allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Path
        in: query
        description: Optional filter by Path.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: UserId
        in: query
        description: User Id
        required: false
        style: form
        explode: false
        schema:
          type: string
          format: guid
      - name: MinOfficialRating
        in: query
        description: "Optional filter by minimum official rating (PG, PG-13, TV-MA,\
          \ etc)."
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: IsLocked
        in: query
        description: Optional filter by items that are locked.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsPlaceHolder
        in: query
        description: Optional filter by items that are placeholders
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasOfficialRating
        in: query
        description: Optional filter by items that have official ratings
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: GroupItemsIntoCollections
        in: query
        description: Whether or not to hide items behind their boxsets.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
      - name: Is3D
        in: query
        description: "Optional filter by items that are 3D, or not."
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: SeriesStatus
        in: query
        description: "Optional filter by Series Status. Allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: NameStartsWithOrGreater
        in: query
        description: Optional filter by items whose name is sorted equally or greater
          than a given input string.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: ArtistStartsWithOrGreater
        in: query
        description: Optional filter by items whose name is sorted equally or greater
          than a given input string.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: AlbumArtistStartsWithOrGreater
        in: query
        description: Optional filter by items whose name is sorted equally or greater
          than a given input string.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: NameStartsWith
        in: query
        description: Optional filter by items whose name is sorted equally than a
          given input string.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: NameLessThan
        in: query
        description: Optional filter by items whose name is equally or lesser than
          a given input string.
        required: false
        style: form
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Operation successful. Returning a QueryResult<TagItem> object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult_UserLibrary.TagItem'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryResult_UserLibrary.TagItem'
        "400":
          description: Bad Request. Server cannot process request.
        "401":
          description: Unauthorized. Client needs to authenticate.
        "403":
          description: Forbidden. No permission for the reqested operation.
        "404":
          description: Resource not found or unavailable.
        "500":
          description: Server error.
      security:
      - apikeyauth: []
      - embyauth: []
      x-RequiredAuthentication: Requires authentication as user
  /Channels:
    summary: Gets available channels
    get:
      tags:
      - ChannelService
      summary: Gets available channels
      description: Requires authentication as user
      externalDocs:
        description: "API Documentation: Item Information"
        url: https://github.com/MediaBrowser/Emby/wiki/Item-Information
      operationId: getChannels
      parameters:
      - name: UserId
        in: query
        description: User Id
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: StartIndex
        in: query
        description: Optional. The record index to start at. All items with a lower
          index will be dropped from the results.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: Limit
        in: query
        description: Optional. The maximum number of records to return
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      responses:
        "200":
          description: Operation successful. Returning a QueryResult<BaseItemDto>
            object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult_BaseItemDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryResult_BaseItemDto'
        "400":
          description: Bad Request. Server cannot process request.
        "401":
          description: Unauthorized. Client needs to authenticate.
        "403":
          description: Forbidden. No permission for the reqested operation.
        "404":
          description: Resource not found or unavailable.
        "500":
          description: Server error.
      security:
      - apikeyauth: []
      - embyauth: []
      x-RequiredAuthentication: Requires authentication as user
  /Collections:
    summary: Creates a new collection
    post:
      tags:
      - CollectionService
      summary: Creates a new collection
      description: Requires authentication as user
      operationId: postCollections
      parameters:
      - name: IsLocked
        in: query
        description: Whether or not to lock the new collection.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
      - name: Name
        in: query
        description: The name of the new collection.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: ParentId
        in: query
        description: Optional - create the collection within a specific folder
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: Ids
        in: query
        description: Item Ids to add to the collection
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Operation successful. Returning a CollectionCreationResult
            object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collections.CollectionCreationResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/Collections.CollectionCreationResult'
        "400":
          description: Bad Request. Server cannot process request.
        "401":
          description: Unauthorized. Client needs to authenticate.
        "403":
          description: Forbidden. No permission for the reqested operation.
        "404":
          description: Resource not found or unavailable.
        "500":
          description: Server error.
      security:
      - apikeyauth: []
      - embyauth: []
      x-RequiredAuthentication: Requires authentication as user
  /Containers:
    summary: Gets items based on a query.
    get:
      tags:
      - TagService
      summary: Gets items based on a query.
      description: Requires authentication as user
      operationId: getContainers
      parameters:
      - name: ArtistType
        in: query
        description: Artist or AlbumArtist
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: MaxOfficialRating
        in: query
        description: "Optional filter by maximum official rating (PG, PG-13, TV-MA,\
          \ etc)."
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: HasThemeSong
        in: query
        description: Optional filter by items with theme songs.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasThemeVideo
        in: query
        description: Optional filter by items with theme videos.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasSubtitles
        in: query
        description: Optional filter by items with subtitles.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasSpecialFeature
        in: query
        description: Optional filter by items with special features.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasTrailer
        in: query
        description: Optional filter by items with trailers.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: AdjacentTo
        in: query
        description: Optional. Return items that are siblings of a supplied item.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: MinIndexNumber
        in: query
        description: Optional filter by minimum index number.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: MinPlayers
        in: query
        description: Optional filter by minimum number of game players.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: MaxPlayers
        in: query
        description: Optional filter by maximum number of game players.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: ParentIndexNumber
        in: query
        description: Optional filter by parent index number.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: HasParentalRating
        in: query
        description: Optional filter by items that have or do not have a parental
          rating
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsHD
        in: query
        description: Optional filter by items that are HD or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: LocationTypes
        in: query
        description: "Optional. If specified, results will be filtered based on LocationType.\
          \ This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ExcludeLocationTypes
        in: query
        description: "Optional. If specified, results will be filtered based on LocationType.\
          \ This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: IsMissing
        in: query
        description: Optional filter by items that are missing episodes or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsUnaired
        in: query
        description: Optional filter by items that are unaired episodes or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: MinCommunityRating
        in: query
        description: Optional filter by minimum community rating.
        required: false
        style: form
        explode: false
        schema:
          type: number
          format: double
          nullable: true
      - name: MinCriticRating
        in: query
        description: Optional filter by minimum critic rating.
        required: false
        style: form
        explode: false
        schema:
          type: number
          format: double
          nullable: true
      - name: AiredDuringSeason
        in: query
        description: "Gets all episodes that aired during a season, including specials."
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: MinPremiereDate
        in: query
        description: Optional. The minimum premiere date. Format = ISO
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: MinDateLastSaved
        in: query
        description: Optional. The minimum premiere date. Format = ISO
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: MinDateLastSavedForUser
        in: query
        description: Optional. The minimum premiere date. Format = ISO
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: MaxPremiereDate
        in: query
        description: Optional. The maximum premiere date. Format = ISO
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: HasOverview
        in: query
        description: Optional filter by items that have an overview or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasImdbId
        in: query
        description: Optional filter by items that have an imdb id or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasTmdbId
        in: query
        description: Optional filter by items that have a tmdb id or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasTvdbId
        in: query
        description: Optional filter by items that have a tvdb id or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: ExcludeItemIds
        in: query
        description: "Optional. If specified, results will be filtered by exxcluding\
          \ item ids. This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: StartIndex
        in: query
        description: Optional. The record index to start at. All items with a lower
          index will be dropped from the results.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: Limit
        in: query
        description: Optional. The maximum number of records to return
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: Recursive
        in: query
        description: "When searching within folders, this determines whether or not\
          \ the search will be recursive. true/false"
        required: false
        style: form
        explode: false
        schema:
          type: boolean
      - name: SearchTerm
        in: query
        description: Enter a search term to perform a search request
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: SortOrder
        in: query
        description: "Sort Order - Ascending,Descending"
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: ParentId
        in: query
        description: Specify this to localize the search to a specific item or folder.
          Omit to use the root
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: Fields
        in: query
        description: "Optional. Specify additional fields of information to return\
          \ in the output. This allows multiple, comma delimeted. Options: Budget,\
          \ Chapters, DateCreated, Genres, HomePageUrl, IndexOptions, MediaStreams,\
          \ Overview, ParentId, Path, People, ProviderIds, PrimaryImageAspectRatio,\
          \ Revenue, SortName, Studios, Taglines"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ExcludeItemTypes
        in: query
        description: "Optional. If specified, results will be filtered based on item\
          \ type. This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: IncludeItemTypes
        in: query
        description: "Optional. If specified, results will be filtered based on item\
          \ type. This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: AnyProviderIdEquals
        in: query
        description: "Optional. If specified, result will be filtered to contain only\
          \ items which match at least one of the specified IDs. Each provider ID\
          \ must be in the form 'prov.id', e.g. 'imdb.tt123456'. This allows multiple,\
          \ comma delimeted value pairs."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Filters
        in: query
        description: "Optional. Specify additional filters to apply. This allows multiple,\
          \ comma delimeted. Options: IsFolder, IsNotFolder, IsUnplayed, IsPlayed,\
          \ IsFavorite, IsResumable, Likes, Dislikes"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: IsFavorite
        in: query
        description: "Optional filter by items that are marked as favorite, or not."
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsMovie
        in: query
        description: Optional filter for movies.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsSeries
        in: query
        description: Optional filter for series.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsFolder
        in: query
        description: Optional filter for folders.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsNews
        in: query
        description: Optional filter for news.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsKids
        in: query
        description: Optional filter for kids.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsSports
        in: query
        description: Optional filter for sports.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: MediaTypes
        in: query
        description: "Optional filter by MediaType. Allows multiple, comma delimited."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ImageTypes
        in: query
        description: "Optional. If specified, results will be filtered based on those\
          \ containing image types. This allows multiple, comma delimited."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: SortBy
        in: query
        description: "Optional. Specify one or more sort orders, comma delimeted.\
          \ Options: Album, AlbumArtist, Artist, Budget, CommunityRating, CriticRating,\
          \ DateCreated, DatePlayed, PlayCount, PremiereDate, ProductionYear, SortName,\
          \ Random, Revenue, Runtime"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: IsPlayed
        in: query
        description: "Optional filter by items that are played, or not."
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: Genres
        in: query
        description: "Optional. If specified, results will be filtered based on genre.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: OfficialRatings
        in: query
        description: "Optional. If specified, results will be filtered based on OfficialRating.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Tags
        in: query
        description: "Optional. If specified, results will be filtered based on tag.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Years
        in: query
        description: "Optional. If specified, results will be filtered based on production\
          \ year. This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: EnableImages
        in: query
        description: "Optional, include image information in output"
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: EnableUserData
        in: query
        description: "Optional, include user data"
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: ImageTypeLimit
        in: query
        description: "Optional, the max number of images to return, per image type"
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: EnableImageTypes
        in: query
        description: Optional. The image types to include in the output.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: Person
        in: query
        description: "Optional. If specified, results will be filtered to include\
          \ only those containing the specified person."
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: PersonIds
        in: query
        description: "Optional. If specified, results will be filtered to include\
          \ only those containing the specified person."
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: PersonTypes
        in: query
        description: "Optional. If specified, along with Person, results will be filtered\
          \ to include only those containing the specified person and PersonType.\
          \ Allows multiple, comma-delimited"
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: Studios
        in: query
        description: "Optional. If specified, results will be filtered based on studio.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: StudioIds
        in: query
        description: "Optional. If specified, results will be filtered based on studio.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Artists
        in: query
        description: "Optional. If specified, results will be filtered based on artist.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ArtistIds
        in: query
        description: "Optional. If specified, results will be filtered based on artist.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Albums
        in: query
        description: "Optional. If specified, results will be filtered based on album.\
          \ This allows multiple, pipe delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Ids
        in: query
        description: "Optional. If specific items are needed, specify a list of item\
          \ id's to retrieve. This allows multiple, comma delimited."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: VideoTypes
        in: query
        description: "Optional filter by VideoType (videofile, dvd, bluray, iso).\
          \ Allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Containers
        in: query
        description: "Optional filter by Container. Allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: AudioCodecs
        in: query
        description: "Optional filter by AudioCodec. Allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: VideoCodecs
        in: query
        description: "Optional filter by VideoCodec. Allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: SubtitleCodecs
        in: query
        description: "Optional filter by SubtitleCodec. Allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Path
        in: query
        description: Optional filter by Path.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: UserId
        in: query
        description: User Id
        required: false
        style: form
        explode: false
        schema:
          type: string
          format: guid
      - name: MinOfficialRating
        in: query
        description: "Optional filter by minimum official rating (PG, PG-13, TV-MA,\
          \ etc)."
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: IsLocked
        in: query
        description: Optional filter by items that are locked.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsPlaceHolder
        in: query
        description: Optional filter by items that are placeholders
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasOfficialRating
        in: query
        description: Optional filter by items that have official ratings
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: GroupItemsIntoCollections
        in: query
        description: Whether or not to hide items behind their boxsets.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
      - name: Is3D
        in: query
        description: "Optional filter by items that are 3D, or not."
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: SeriesStatus
        in: query
        description: "Optional filter by Series Status. Allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: NameStartsWithOrGreater
        in: query
        description: Optional filter by items whose name is sorted equally or greater
          than a given input string.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: ArtistStartsWithOrGreater
        in: query
        description: Optional filter by items whose name is sorted equally or greater
          than a given input string.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: AlbumArtistStartsWithOrGreater
        in: query
        description: Optional filter by items whose name is sorted equally or greater
          than a given input string.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: NameStartsWith
        in: query
        description: Optional filter by items whose name is sorted equally than a
          given input string.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: NameLessThan
        in: query
        description: Optional filter by items whose name is equally or lesser than
          a given input string.
        required: false
        style: form
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Operation successful. Returning a QueryResult<TagItem> object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult_UserLibrary.TagItem'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryResult_UserLibrary.TagItem'
        "400":
          description: Bad Request. Server cannot process request.
        "401":
          description: Unauthorized. Client needs to authenticate.
        "403":
          description: Forbidden. No permission for the reqested operation.
        "404":
          description: Resource not found or unavailable.
        "500":
          description: Server error.
      security:
      - apikeyauth: []
      - embyauth: []
      x-RequiredAuthentication: Requires authentication as user
  /Devices:
    summary: Gets all devices
    get:
      tags:
      - DeviceService
      summary: Gets all devices
      description: Requires authentication as administrator
      operationId: getDevices
      responses:
        "200":
          description: Operation successful. Returning a QueryResult<DeviceInfo> object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult_Devices.DeviceInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryResult_Devices.DeviceInfo'
        "400":
          description: Bad Request. Server cannot process request.
        "401":
          description: Unauthorized. Client needs to authenticate.
        "403":
          description: Forbidden. No permission for the reqested operation.
        "404":
          description: Resource not found or unavailable.
        "500":
          description: Server error.
      security:
      - apikeyauth: []
      - embyauth: []
      x-RequiredAuthentication: Requires authentication as administrator
    delete:
      tags:
      - DeviceService
      summary: Deletes a device
      description: Requires authentication as administrator
      operationId: deleteDevices
      parameters:
      - name: Id
        in: query
        description: Device Id
        required: true
        style: form
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Operation successful. Response content unknown.
        "400":
          description: Bad Request. Server cannot process request.
        "401":
          description: Unauthorized. Client needs to authenticate.
        "403":
          description: Forbidden. No permission for the reqested operation.
        "404":
          description: Resource not found or unavailable.
        "500":
          description: Server error.
      security:
      - apikeyauth: []
      - embyauth: []
      x-RequiredAuthentication: Requires authentication as administrator
  /Features:
    summary: Gets a list of installed features
    get:
      tags:
      - FeatureService
      summary: Gets a list of installed features
      description: Requires authentication as administrator
      operationId: getFeatures
      responses:
        "200":
          description: "Operation successful. Returning a FeatureInfo[] object."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Emby.Features.FeatureInfo'
                x-content-type: application/json
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Emby.Features.FeatureInfo'
        "400":
          description: Bad Request. Server cannot process request.
        "401":
          description: Unauthorized. Client needs to authenticate.
        "403":
          description: Forbidden. No permission for the reqested operation.
        "404":
          description: Resource not found or unavailable.
        "500":
          description: Server error.
      security:
      - apikeyauth: []
      - embyauth: []
      x-RequiredAuthentication: Requires authentication as administrator
  /GameGenres:
    summary: "Gets all Game genres from a given item, folder, or the entire library"
    get:
      tags:
      - GameGenresService
      summary: "Gets all Game genres from a given item, folder, or the entire library"
      description: Requires authentication as user
      externalDocs:
        description: "API Documentation: Items by name"
        url: https://github.com/MediaBrowser/Emby/wiki/Items-by-name
      operationId: getGamegenres
      parameters:
      - name: ArtistType
        in: query
        description: Artist or AlbumArtist
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: MaxOfficialRating
        in: query
        description: "Optional filter by maximum official rating (PG, PG-13, TV-MA,\
          \ etc)."
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: HasThemeSong
        in: query
        description: Optional filter by items with theme songs.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasThemeVideo
        in: query
        description: Optional filter by items with theme videos.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasSubtitles
        in: query
        description: Optional filter by items with subtitles.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasSpecialFeature
        in: query
        description: Optional filter by items with special features.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasTrailer
        in: query
        description: Optional filter by items with trailers.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: AdjacentTo
        in: query
        description: Optional. Return items that are siblings of a supplied item.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: MinIndexNumber
        in: query
        description: Optional filter by minimum index number.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: MinPlayers
        in: query
        description: Optional filter by minimum number of game players.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: MaxPlayers
        in: query
        description: Optional filter by maximum number of game players.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: ParentIndexNumber
        in: query
        description: Optional filter by parent index number.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: HasParentalRating
        in: query
        description: Optional filter by items that have or do not have a parental
          rating
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsHD
        in: query
        description: Optional filter by items that are HD or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: LocationTypes
        in: query
        description: "Optional. If specified, results will be filtered based on LocationType.\
          \ This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ExcludeLocationTypes
        in: query
        description: "Optional. If specified, results will be filtered based on LocationType.\
          \ This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: IsMissing
        in: query
        description: Optional filter by items that are missing episodes or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsUnaired
        in: query
        description: Optional filter by items that are unaired episodes or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: MinCommunityRating
        in: query
        description: Optional filter by minimum community rating.
        required: false
        style: form
        explode: false
        schema:
          type: number
          format: double
          nullable: true
      - name: MinCriticRating
        in: query
        description: Optional filter by minimum critic rating.
        required: false
        style: form
        explode: false
        schema:
          type: number
          format: double
          nullable: true
      - name: AiredDuringSeason
        in: query
        description: "Gets all episodes that aired during a season, including specials."
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: MinPremiereDate
        in: query
        description: Optional. The minimum premiere date. Format = ISO
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: MinDateLastSaved
        in: query
        description: Optional. The minimum premiere date. Format = ISO
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: MinDateLastSavedForUser
        in: query
        description: Optional. The minimum premiere date. Format = ISO
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: MaxPremiereDate
        in: query
        description: Optional. The maximum premiere date. Format = ISO
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: HasOverview
        in: query
        description: Optional filter by items that have an overview or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasImdbId
        in: query
        description: Optional filter by items that have an imdb id or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasTmdbId
        in: query
        description: Optional filter by items that have a tmdb id or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: HasTvdbId
        in: query
        description: Optional filter by items that have a tvdb id or not.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: ExcludeItemIds
        in: query
        description: "Optional. If specified, results will be filtered by exxcluding\
          \ item ids. This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: StartIndex
        in: query
        description: Optional. The record index to start at. All items with a lower
          index will be dropped from the results.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: Limit
        in: query
        description: Optional. The maximum number of records to return
        required: false
        style: form
        explode: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: Recursive
        in: query
        description: "When searching within folders, this determines whether or not\
          \ the search will be recursive. true/false"
        required: false
        style: form
        explode: false
        schema:
          type: boolean
      - name: SearchTerm
        in: query
        description: Enter a search term to perform a search request
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: SortOrder
        in: query
        description: "Sort Order - Ascending,Descending"
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: ParentId
        in: query
        description: Specify this to localize the search to a specific item or folder.
          Omit to use the root
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: Fields
        in: query
        description: "Optional. Specify additional fields of information to return\
          \ in the output. This allows multiple, comma delimeted. Options: Budget,\
          \ Chapters, DateCreated, Genres, HomePageUrl, IndexOptions, MediaStreams,\
          \ Overview, ParentId, Path, People, ProviderIds, PrimaryImageAspectRatio,\
          \ Revenue, SortName, Studios, Taglines"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ExcludeItemTypes
        in: query
        description: "Optional. If specified, results will be filtered based on item\
          \ type. This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: IncludeItemTypes
        in: query
        description: "Optional. If specified, results will be filtered based on item\
          \ type. This allows multiple, comma delimeted."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: AnyProviderIdEquals
        in: query
        description: "Optional. If specified, result will be filtered to contain only\
          \ items which match at least one of the specified IDs. Each provider ID\
          \ must be in the form 'prov.id', e.g. 'imdb.tt123456'. This allows multiple,\
          \ comma delimeted value pairs."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Filters
        in: query
        description: "Optional. Specify additional filters to apply. This allows multiple,\
          \ comma delimeted. Options: IsFolder, IsNotFolder, IsUnplayed, IsPlayed,\
          \ IsFavorite, IsResumable, Likes, Dislikes"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: IsFavorite
        in: query
        description: "Optional filter by items that are marked as favorite, or not."
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsMovie
        in: query
        description: Optional filter for movies.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsSeries
        in: query
        description: Optional filter for series.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsFolder
        in: query
        description: Optional filter for folders.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsNews
        in: query
        description: Optional filter for news.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsKids
        in: query
        description: Optional filter for kids.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: IsSports
        in: query
        description: Optional filter for sports.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: MediaTypes
        in: query
        description: "Optional filter by MediaType. Allows multiple, comma delimited."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ImageTypes
        in: query
        description: "Optional. If specified, results will be filtered based on those\
          \ containing image types. This allows multiple, comma delimited."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: SortBy
        in: query
        description: "Optional. Specify one or more sort orders, comma delimeted.\
          \ Options: Album, AlbumArtist, Artist, Budget, CommunityRating, CriticRating,\
          \ DateCreated, DatePlayed, PlayCount, PremiereDate, ProductionYear, SortName,\
          \ Random, Revenue, Runtime"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: IsPlayed
        in: query
        description: "Optional filter by items that are played, or not."
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          nullable: true
      - name: Genres
        in: query
        description: "Optional. If specified, results will be filtered based on genre.\
[...]
